#toolbar {
  margin: 0.5em;
  width: 100%;
}

.button-margin-left {
  margin-left: 1em;
}

.button-no-border {
  border: none;
}

.breadcrumb {
  background-color: white;
}

.button-background-color {
  background-color: #f5f5f5;
}

.img-resize {
  height: 5em;
  width: 5em;
}

.center-rows {
  margin-top: 2em;
}

.center-rows-half {
  margin-top: 1em;
}

.panel-adjust {
  margin: 1em;
}

.half-width {
  width: 50%;
}

.panel-no-border {
  border: none;
  box-shadow: none;
}

.bottom-margin {
  margin-bottom: 1em;
}

#advanced-search {
  border-color: transparent
}

.btn:focus {
  outline: none;
}

.left-margin {
  margin-left: 1em;
}

#title {
  margin-left: 0.5em;
}

.restrict-width {
  width: 20em;
}
